@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
.begin {
  padding: 1em;
}
.begin .title {
  font-size: 3.5em;
  text-align: center;
  color: #f1fdf0;
  padding: 10px;
}
.begin .begin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.begin .begin-form .form-input {
  padding: 1em;
}
.begin .begin-form .form-input .input-text {
  width: 400px;
  height: 35px;
  border: transparent;
  border-radius: 10px;
  outline: transparent;
  padding: 0px 10px;
  color: black;
}
.begin .begin-form .form-input .hand-type {
  width: 70px;
}
.begin .begin-form .form-input .title-form {
  color: white;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  font-size: 1.4em;
}

.play-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  width: 250px;
}

.play-btn {
  font-weight: 600;
  color: #f1fdf0;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #1ec921;
  border: 2px solid #fff;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.play-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dbfddb;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #83f284, 0 0.625em 0 0 #1ec921;
  box-shadow: 0 0 0 2px #14b817, 0 0.625em 0 0 #83f284;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.play-btn:hover {
  background: red;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

.play-btn:hover::before {
  -webkit-box-shadow: 0 0 0 2px #f80a0a, 0 0.5em 0 0 #ff5c5c;
  box-shadow: 0 0 0 2px #f80a0a, 0 0.5em 0 0 #ff5c5c;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

.play-btn:active {
  background: #f80a0a;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

.play-btn:active::before {
  -webkit-box-shadow: 0 0 0 2px #f80a0a, 0 0 #ff5c5c;
  box-shadow: 0 0 0 2px #f80a0a, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

.nav-game {
  padding: 10px;
}

.accessibility-game-ul {
  display: flex;
  justify-content: end;
  list-style: none;
  flex-direction: row;
}

.accessibility-li {
  padding: 0px 15px;
}
.accessibility-li button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.accessibility-li i {
  font-size: 20px;
}
.accessibility-li i:hover {
  color: #F1FDF0;
}

.game-title {
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 1em;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  display: flex;
  border: 1px solid white;
  width: 700px;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.players-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.players-container .cpu-player {
  width: 75px;
}
.players-container .user-player {
  width: 75px;
}
.players-container .nicknames {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.players-container .question-marks {
  width: 75px;
}

.counts {
  font-size: 50px;
  padding: 1em;
  color: white;
}

.points {
  font-size: 50px;
  color: white;
}

.choose-title {
  color: white;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  font-size: 1.4em;
  font-size: 1.8em;
}

.choose {
  display: flex;
  flex-direction: column;
}

.hand-types {
  width: 75px;
}
.hand-types:hover {
  transition: 1s;
  width: 85px;
  cursor: pointer;
}

.hand-types-container {
  display: flex;
  list-style: none;
  justify-content: center;
}

.hand-container {
  padding: 1em;
}

.btn-hands-type {
  background-color: transparent;
  border: transparent;
}

.container-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-result {
  color: white;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  font-size: 1.4em;
  font-size: 50px;
}

.text-result {
  text-align: center;
  font-size: 2em;
  color: white;
}

.btn-again {
  margin-top: 1em;
  width: 200px;
}

body {
  font-family: "Exo", sans-serif;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  color: #d10808;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 60%;
  left: 45%;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ffe600;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 1, 1, 0.267);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .begin {
    padding: 1em;
  }
  .begin .title {
    font-size: 3em;
    text-align: center;
    color: #f1fdf0;
    padding: 10px;
  }
  .begin .begin-form .form-input {
    padding: 1em;
  }
  .begin .begin-form .form-input .input-text {
    width: 320px;
    height: 35px;
    border: transparent;
    border-radius: 10px;
    outline: transparent;
    padding: 0px 10px;
    color: black;
  }
  .begin .begin-form .form-input .hand-type {
    width: 50px;
    transform: translateX(-10px);
  }
  .game-title {
    font-size: 25px;
  }
  .game {
    width: auto;
  }
  .game .players-container {
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .game .players-container .cpu-player {
    width: 75px;
  }
  .game .players-container .user-player {
    width: 75px;
  }
  .game .players-container .nicknames {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  .game .players-container .question-marks {
    width: 75px;
  }
  .game .counts {
    font-size: 40px;
    padding: 1em;
    color: white;
  }
  .game .points {
    font-size: 40px;
    color: white;
  }
}
body {
  background: #fdfc47;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdfc47, #24fe41);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdfc47, #24fe41);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
}

.everything-container {
  display: none;
  padding: 3em;
}

/*

.begin {
    display: block;
}

.game-sec {
    display: none;
}

.result-sec {
    display: none;
}
*/
.loader {
  display: block;
  margin: auto;
}/*# sourceMappingURL=style.css.map */