@import"mixins";

//@media only screen and (max-width:884px) {}

@media only screen and (max-width:600px) {

    //sec-1
    .begin {
        padding: 1em;

        .title {
            font-size: 3em;
            text-align: center;
            color: #f1fdf0;
            padding: 10px;
        }

        .begin-form {



            .form-input {
                padding: 1em;

                .input-text {
                    width: 320px;
                    height: 35px;
                    border: transparent;
                    border-radius: 10px;
                    outline: transparent;
                    padding: 0px 10px;
                    color: black;
                }

                .hand-type {
                    width: 50px;
                    transform: translateX(-10px)
                }




            }




        }



    }

    //sec-2

    .game-title {
        font-size: 25px;

    }

    .game {

        width: auto;


        .players-container {
            padding: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;


            .cpu-player {
                width: 75px;

            }

            .user-player {
                width: 75px;
            }

            .nicknames {
                color: white;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
            }

            .question-marks {
                width: 75px;
            }

        }

        .counts {
            font-size: 40px;
            padding: 1em;
            color: white;
        }

        .points {
            font-size: 40px;
            color: white;
        }

    }


}