@import"_sec-1";
@import"nav-accesibility";
@import"sec-2";
@import"mixins";


$color-text: #F1FDF0;

body {
    background: #fdfc47;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdfc47, #24fe41);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fdfc47, #24fe41);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.everything-container {

    padding: 3em;
}

.begin {
    display: none;
}

.game-sec {}

.result-sec {
    display: none;
}